@charset "utf-8";

/*
Filename: nav.css
Author: Noah Taylor
Date: December 4th 2022

CSS for the navigation bar on my web page
*/

/*Body Styles*/
body {
    margin: 0;
    background: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: orangered;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    height: 100px;
    width: 300px;
}

/*Image Styles*/
img {
   width: 70px;
   height: 50px;
}


/*Nav Styles*/
nav {
    float: right;
    padding-bottom: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover {
    color: rgb(187, 162, 116);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: black;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 300ms;
}

nav a:hover::before {
    width: 100%;
}